.spot-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20em;
    margin: 2em 1em 0em 1em;
}

.spot-block-img {
    height: 20em;
    width: 20em;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 4px 3px 4px rgb(161, 161, 161);
    opacity: .8;
    transition: .5s;
}

.spot-block-img:hover {
    opacity: 1.0;
}

.spot-block-text {
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    align-items: center;
}

.spot-block p {
    font-size: larger
}

.spot-block h2 {
    font-size: 20px;
}

#update-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    border-top: 1px solid lightgray;

}

#update-text {
    font-weight: bold;
    text-decoration: none;
}

#update-container a {
    text-decoration: none;
    color: rgb(235, 74, 100);
    transition: 0.5s;
    font-size: 16px;
}

#update-container a:hover {
    color: #1B6C8F;
    text-decoration: underline;
}
