main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

#spot-container {
    margin: 2% 20% 5% 20%;
    width: 100%;
}

#spot-title {
    font-size: 32px;
    margin: 0px;
}

#spot-page-main-img {
    height: auto;
    width: 0%;
    object-fit: cover;
    border-radius: 5px;
}

#images-container {
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    width: 100%;
}

#other-images {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    grid-template-areas:
    'a b'
    'c d';
}

#img1 {
    grid-area: 'a';
    height: 96%;
    width: 96%;
    background-color: #ff8888d2;
    margin: 0px 0px 0px 5px;
    align-self: start;
    border-radius: 5px;
}

#img2 {
    grid-area: 'b';
    height: 96%;
    width: 96%;
    background-color: rgb(255, 222, 160);
    border-radius: 5px;
    align-self: start;
    margin: 0px 0px 0px 5px;
}

#img3 {
    grid-area: 'c';
    height: 96%;
    width: 96%;
    background-color: rgb(255, 222, 160);
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    align-self: end;

}

#img4 {
    height: 96%;
    width: 96%;
    background-color: #ff8888d2;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    align-self: end;
}

#spot-page-location-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
}

#spot-page-location-info p {
    font-weight: 500;
    font-size: 20px;
    margin-right: 40px;
}

#room-info {
    display: flex;
}

#price {
    margin: 0;
    font-family:'Source Sans 3', sans-serif;
}

#book-this-spot-container {
    width: 50%;
}


#all-info-container {
    display: flex;
    border-top: 1px solid rgb(243, 43, 76);
    margin-top: 40px;
    padding-top: 20px;
}

#room-info p {
    font-family:'Source Sans 3', sans-serif;
    margin-top: 0;
}


#explore-banner {
    font-weight: 400;
    font-size: 40px;
    color: black;
    align-items: center;
}

#explore-banner-div {
    display: flex;
    justify-content: center;
    position: relative;
    left: -2.5%;
    width: 105%;
    background: linear-gradient(270deg, rgb(255, 222, 160), rgba(182, 182, 182, 0) 75.71%),
    linear-gradient(33deg, #ff8888d2, rgba(0,255,0,0) 70.71%);
}

#spot-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 15%;
}

#hosts-spot {
    display: flex;
    justify-content: center;
}

#hosts-spot-text {
    font-size: 24px;
}

#logged-out-booking {
    background-color: white;
    border: 1px solid rgb(243, 43, 76);;
    color: rgb(243, 43, 76);
    font-family: 'Quicksand', 'san-serif';
    font-size: x-large;
    font-weight: 700;
    width: 300px;
    margin-top: 10px;
    padding: 5px;
    transition: 1s;
    align-self: center;
    border-radius: 10px;
    transition: 0.25s;
    margin-left: 150px;
    margin-top: 75px;
}

#logged-out-booking:hover {
    cursor: pointer;
    background-color: rgb(243, 43, 76);
    color: white;
}

.new-image-form {
    display: flex;
    width: 500px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

#add-image-form {
    display: flex;
}
