main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

#spot-container {
    margin: 2% 20% 5% 20%;
}

#spot-title {
    font-size: 32px;
    margin: 0px;
}

#spot-page-main-img {
    height: auto;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
}

#images-container {
    display: flex;
    width: 100%;
}

#other-images {
    width: 100%;
    display: grid;
    grid-template-areas:
    'a b'
    'c d'
    ;
    margin-left: 5px;
}

#img1 {
    grid-area: 'a';
    height: 96%;
    width: 96%;
    background-color: lightgreen;
    margin: 0px 0px 0px 5px;
    align-self: start;
    border-radius: 5px;
}

#img2 {
    grid-area: 'b';
    height: 96%;
    width: 96%;
    background-color: lightpink;
    border-radius: 5px;
    align-self: start;
    margin: 0px 0px 0px 5px;
}

#img3 {
    grid-area: 'c';
    height: 96%;
    width: 96%;
    background-color: lightblue;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    align-self: end;

}

#img4 {
    height: 96%;
    width: 96%;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    align-self: end;
}

#spot-page-location-info {
    display: flex;
}

#spot-page-location-info p {
    font-weight: 500;
    font-size: 24px;
    margin-right: 20px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(217deg, rgb(235, 74, 100), rgba(255, 0, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(0, 153, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    border-radius: 10px;
    color: white;
    width: 125%;
}

#banner h1 {
    font-family:'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin: 30px 0px 0px 0px;
}

#banner h2 {
    font-family:'Source Sans 3', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    padding: 20px 0px 30px 0px;
}

