#book-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    padding: 0px;
}

#book-spot-info-container {
    display: flex;
    flex-direction: column;
}

#submit-new-booking {
    background-color: white;
    border: 1px solid rgb(243, 43, 76);
    border-radius: 5px;
    color: rgb(243, 43, 76);
    font-family: 'Quicksand', 'san-serif';
    font-weight: 500;
    font-size: larger;
    align-items: flex-start;
    transition: 0.5s;
    padding: 10px;
    width: 50%;
}

#submit-new-booking:hover {
    background-color: rgb(245, 101, 125);
    color: white;
    cursor: pointer;
}

#book-spot-info-container input {
    margin-left: 10px;
}

#end-date {
    padding-left: 10px;
}

#date-container {
    margin-top: 20px;
}

#book-spot-form h2 {
    margin-top: 0;
}

#guest-input {
    width: 40px;
}

#date-container input {
    width: 28%;
}

#spot-booking-error-list {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    color:rgb(243, 43, 76)
}

#date-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#total-price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#total-price {
    font-size: 24px;
    margin-bottom: 0;
}
