ul {
    list-style-type: none;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
}

.nav-item {
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
    color: rgb(235, 74, 100)
}

.nav-left {
    text-decoration: none;
}

#nav-right {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-right: 50px;
    align-items: center;
}

#view-your-bookings:hover {
    color: rgb(243, 43, 76);
    text-decoration: underline;
}

#host-your-spot:hover {
    color: rgb(243, 43, 76);
    text-decoration: underline;
}

#home-logo {
    height: 50px;
}

#home {
    display: flex;
    align-items: center;
}

#rairbnb {
    font-weight: 700;
    font-size: larger;
    padding-left: 10px;
}

#sign-up {
    margin-right: 50px;
    transition: 1s;
}

#sign-up:hover {
    color: rgb(243, 43, 76);
    text-decoration: underline;
}

#log-in-nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
